html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: x-large;
  overflow-y:scroll;
  line-height: 2.5rem;
}

#home {
  /* background-image: url("assets/images/befunky_2.jpg"); */
  background-image: url("assets/images/test_images/Bethke_test1.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: right;
}

#about {
  background-color: #F0EFED;
}

#portfolio {
    /* background-color: black; */
}

.card-img-top {
  height: 231px;
  min-width: 400px;
  overflow: hidden;
  border-bottom: solid 1px gray;
}

.card-body-back {
  height: 99px;
  border-bottom: solid 1px gray;
}

#contact {
  background-color: #F0EFED;
}

nav {
  position: fixed;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  z-index: 10;
}

h1, h3, nav {
  /* font-family: 'Yeseva One', cursive; */
  font-family: 'Montserrat', sans-serif;
}

#logo {
  /* font-family: 'Audiowide', cursive; */
  background: #650D88;
  background: linear-gradient(to right, #650D88 42%, #E78200 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#homeBanner {
  background: #650D88;
  background: linear-gradient(to right, #650D88 42%, #E78200 100%);
}

.scroll-container {
  max-width: 100%;
  margin-bottom: auto;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #915e84;
}

.card-flip {
  perspective: 1000px;
  display: flex;
  width: calc((400px * 3) + (20px * 6));
}
  
.flip {
  min-width: 400px;
  height: 400px;
  margin: 20px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.isFlipped {
  transform: rotateY(180deg);
}

.front {
  background: #FEFEFE;
}

.back {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

footer {
  background-color: #915e84;
}
