@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Raleway', sans-serif;
}
  
#home {
    background-color: #F0EFED;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%;
    min-height: 100vh; */
}

#portfolio {
    /* background-color: #605E5E; */
    /* background-color: black; */
    /* width: 100%;
    min-height: 100vh; */
}

#contact {
    background-color: #F0EFED;
    /* width: 100%;
    min-height: 100vh; */
}


nav {
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
}

h1 {
    font-family: 'Yeseva One', cursive;
}

/* 
TEST */

  
  .scroll-container {
    max-width: 980px;
    margin: auto;
    padding: 20px 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    background: #ad343e;
  }
  
  .card-flip {
    perspective: 1000px;
    display: flex;
    /* total cards width + cards margin */
    /* comment out and flip the last card to see the effect */
    width: calc((400px * 3) + (20px * 6));
  }
  
  .flip {
    min-width: 400px;
    height: 400px;
    margin: 20px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .isFlipped {
    transform: rotateY(180deg);
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  
  /* .card {

    
  } */
/*   
  .card-body {
    background: #224d71;
  } */
  

  /* TEXT ANIMATION */

  #text {
    width: 70%;
    font-size: 30px;
    display: block;
    text-align: center;
}

.char{
    font-size: 40px;
    height: 40px;
    animation: an 2s ease-out 1 both;
    display: inline-block;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}
