@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Raleway', sans-serif;
}
  
#home {
    background-color: #F0EFED;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%;
    min-height: 100vh; */
}

#portfolio {
    /* background-color: #605E5E; */
    background-color: black;
    /* width: 100%;
    min-height: 100vh; */
}

#contact {
    background-color: #F0EFED;
    /* width: 100%;
    min-height: 100vh; */
}

/* #recentWork {
    overflow: scroll;
    max-height: 800px;
} */

nav {
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
}

h1 {
    font-family: 'Yeseva One', cursive;
}

